figure.highlight
{
    overflow-x: auto;
}

.highlight .c1
{
    color: #008000;
}

.highlight .n, .highlight .m
{
    color: #606060;
}

.highlight .kt
{
    color: #0000FF;
}

.highlight .k
{
    color: #0000FF;
}

.highlight .s
{
    color: #A31515;
}

.highlight .nf
{
    color: #9D702A;
}
